.c-title {
  &--box {
    margin-top: 2rem;
  }
}

.h-title {
  &--news {
    color: $primary-font-color;
    // text-align: center;
  }
  &--date {
    color: $secondary-font-color;
    // text-align: center;
  }
}