@include media-breakpoint-up (xs) {
  .container {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    --bs-gutter-x: unset;
    --bs-gutter-y: unset;
    width: unset;
  }
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

@include media-breakpoint-up (md) {
  .container {
    padding-right: 1.5rem !important;
    padding-left: 16rem !important;
  }
}

// @include media-breakpoint-up (lg) {
//   .container {
//     padding-right: 1.5rem !important;
//     padding-left: 16rem !important;
//   }
// }