@include media-breakpoint-up (xs) {
  .tutorials {
    background-color: #2D2D2E;
    padding: 2rem 0;
    h2 {
      margin-bottom: 2rem;
    }
    a {
      float: right;
      color: #FFFFFF;
      font-size: 0.75rem;
      &::after {
        content: url(../../images/chevron-right.svg);
        width: 15px;
        height: 15px;
      }
    }
  }
  .tutorials--cta {
    height: 1rem;
    background-color: #2D2D2E;
  }
}

@include media-breakpoint-up (md) {
  .tutorials--secondary {
    display: flex;
    gap: 1rem;
  }
  .tutorials--tertiary {
    display: flex;
    gap: 1rem;
  }
  .tutorials--more {
    background-color: #2D2D2E;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 2rem 0;
  }
}